<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WildCards</title>
    <link rel="stylesheet" href="/css/fragmentos-estilo.css">
    <link rel="stylesheet" href="/css/wildcards.css">
    <script src="/js/wildcards.js" defer></script>
</head>

<body>
    <header th:replace="~{fragmentos/layout :: header}"></header>

    <main>
        <div class="carrusel">
            <div class="carrusel-imagenes">
                <img src="img/PKbanner.png" alt="Banner Pokémon" class="carrusel-imagen">
                <img src="img/onepiece_banner.jpg" alt="Banner One Piece" class="carrusel-imagen">
                <img src="img/yugioh_banner.jpg" alt="Banner Yu Gi Oh!" class="carrusel-imagen">
                <img src="img/magic_banner.jpg" alt="Banner magic" class="carrusel-imagen">
            </div>
            <button class="carrusel-boton prev" aria-label="Anterior">&#10094;</button>
            <button class="carrusel-boton next" aria-label="Siguiente">&#10095;</button>
        </div>

        <section class="categorias-destacadas">
            <a href="/pokemon">
                <div class="categoria-item">
                    <div class="categoria-cuadrado">
                        <img src="img/PKcards.png" alt="Pokémon">
                    </div>
                    <span class="categoria-nombre">Pokémon</span>
                </div>
            </a>
            <a href="/onepiece">
                <div class="categoria-item">
                    <div class="categoria-cuadrado">
                        <img src="img/onepiece.png" alt="One Piece">
                    </div>
                    <span class="categoria-nombre">One Piece</span>
                </div>
            </a>
            <a href="/yugioh">
                <div class="categoria-item">
                    <div class="categoria-cuadrado">
                        <img src="img/yugioh_icon.jpg" alt="Yugioh">
                    </div>
                    <span class="categoria-nombre">Yugioh</span>
                </div>
            </a>
            <a href="/magic">
                <div class="categoria-item">
                    <div class="categoria-cuadrado">
                        <img src="img/magicportada.png" alt="Magic">
                    </div>
                    <span class="categoria-nombre">Magic</span>
                </div>
            </a>
            <a href="/accesorios">
                <div class="categoria-item">
                    <div class="categoria-cuadrado">
                        <img src="img/accessory_icon.jpg" alt="accesorios">
                    </div>
                    <span class="categoria-nombre">Accesorios</span>
                </div>
            </a>
        </section>
    </main>
    <footer th:replace="~{fragmentos/layout :: footer}"></footer>

</body>

</html>